In [ ]:
arrow::read_parquet(here("data", "atpRaw.parquet"), as_data_frame = TRUE) -> atp
path <- here("data", "locations.parquet")

In [ ]:
atp %>% group_by(Location) %>% 
    separate_wider_delim(Location, delim=",", names=c("City", "Country"), too_few="debug", too_many="debug") -> atpLocations

Warning message:
"Debug mode activated: adding variables `Location_ok`, `Location_pieces`, and `Location_remainder`."

In [ ]:
atpLocations %>% select(Location, City, Country, Location_ok, Location_pieces)

        Location             City          Country   Location_ok
1       Madrid, Spain        Madrid         Spain     TRUE
2       Dubai, U.A.E.        Dubai          U.A.E.    TRUE
3       Turin, Italy         Turin          Italy     TRUE
4       Turin, Italy         Turin          Italy     TRUE
5       Paris, France        Paris          France    TRUE
6       Paris, France        Paris          France    TRUE
7       Turin, Italy         Turin          Italy     TRUE
8       Madrid, Spain        Madrid         Spain     TRUE
9       Dubai, U.A.E.        Dubai          U.A.E.    TRUE
10      Dubai, U.A.E.        Dubai          U.A.E.    TRUE
11      Madrid, Spain        Madrid         Spain     TRUE
12      Turin, Italy         Turin          Italy     TRUE
13      Madrid, Spain        Madrid         Spain     TRUE
14      New York, NY, U.S.A. New York       NY       FALSE
15      New York, NY, U.S.A. New York       NY       FALSE
16      New York, NY, U.S.A. New York       NY       FALSE
17      New York, NY, U.S.A. New York       NY       FALSE
18      Paris, France        Paris          France    TRUE
19      Tokyo, Japan         Tokyo          Japan     TRUE
20      Tokyo, Japan         Tokyo          Japan     TRUE
21      Paris, France        Paris          France    TRUE
22      Paris, France        Paris          France    TRUE
23      New York, NY, U.S.A. New York       NY       FALSE
24      New York, NY, U.S.A. New York       NY       FALSE
25      Paris, France        Paris          France    TRUE
26      New York, NY, U.S.A. New York       NY       FALSE
27      Tokyo, Japan         Tokyo          Japan     TRUE
28      Tokyo, Japan         Tokyo          Japan     TRUE
29      Tokyo, Japan         Tokyo          Japan     TRUE
30      Tokyo, Japan         Tokyo          Japan     TRUE
⋮       ⋮                    ⋮             ⋮         ⋮
1308806 Netherlands          Netherlands   NA        FALSE
1308807 Netherlands          Netherlands   NA        FALSE
1308808 Netherlands          Netherlands   NA        FALSE
1308809 Spain                Spain         NA        FALSE
1308810 Spain                Spain         NA        FALSE
1308811 Spain                Spain         NA        FALSE
1308812 Great Britain        Great Britain NA        FALSE
1308813 Estoril, Portugal    Estoril        Portugal  TRUE
1308814 Estoril, Portugal    Estoril        Portugal  TRUE
1308815 Estoril, Portugal    Estoril        Portugal  TRUE
1308816 Turkey               Turkey        NA        FALSE
1308817 Turkey               Turkey        NA        FALSE
1308818 Portugal             Portugal      NA        FALSE
1308819 Portugal             Portugal      NA        FALSE
1308820 Portugal             Portugal      NA        FALSE
1308821 Portugal             Portugal      NA        FALSE
1308822 Italy                Italy         NA        FALSE
1308823 Italy                Italy         NA        FALSE
1308824 Estoril, Portugal    Estoril        Portugal  TRUE
1308825 Georgia              Georgia       NA        FALSE
1308826 Spain                Spain         NA        FALSE
1308827 Spain                Spain         NA        FALSE
1308828 Spain                Spain         NA        FALSE
1308829 Spain                Spain         NA        FALSE
1308830 Portugal             Portugal      NA        FALSE
1308831 Portugal             Portugal      NA        FALSE
1308832 Portugal             Portugal      NA        FALSE
1308833 Portugal             Portugal      NA        FALSE
1308834 Portugal             Portugal      NA        FALSE
1308835 Morocco              Morocco       NA        FALSE
        Location_pieces
1       2
2       2
3       2
4       2
5       2
6       2
7       2
8       2
9       2
10      2
11      2
12      2
13      2
14      3
15      3
16      3
17      3
18      2
19      2
20      2
21      2
22      2
23      3
24      3
25      2
26      3
27      2
28      2
29      2
30      2
⋮       ⋮
1308806 1
1308807 1
1308808 1
1308809 1
1308810 1
1308811 1
1308812 1
1308813 2
1308814 2
1308815 2
1308816 1
1308817 1
1308818 1
1308819 1
1308820 1
1308821 1
1308822 1
1308823 1
1308824 2
1308825 1
1308826 1
1308827 1
1308828 1
1308829 1
1308830 1
1308831 1
1308832 1
1308833 1
1308834 1
1308835 1

In [ ]:
atpLocations %>%
    filter(Location_ok == FALSE) %>%
    select(Location, City, Country, Location_pieces)

       Location               City               Country Location_pieces
1      New York, NY, U.S.A.   New York            NY     3
2      New York, NY, U.S.A.   New York            NY     3
3      New York, NY, U.S.A.   New York            NY     3
4      New York, NY, U.S.A.   New York            NY     3
5      New York, NY, U.S.A.   New York            NY     3
6      New York, NY, U.S.A.   New York            NY     3
7      New York, NY, U.S.A.   New York            NY     3
8      New York, NY, U.S.A.   New York            NY     3
9      New York, NY, U.S.A.   New York            NY     3
10     New York, NY, U.S.A.   New York            NY     3
11     New York, NY, U.S.A.   New York            NY     3
12     New York, NY, U.S.A.   New York            NY     3
13     New York, NY, U.S.A.   New York            NY     3
14     New York, NY, U.S.A.   New York            NY     3
15     New York, NY, U.S.A.   New York            NY     3
16     New York, NY, U.S.A.   New York            NY     3
17     New York, NY, U.S.A.   New York            NY     3
18     New York, NY, U.S.A.   New York            NY     3
19     New York, NY, U.S.A.   New York            NY     3
20     New York, NY, U.S.A.   New York            NY     3
21     New York, NY, U.S.A.   New York            NY     3
22     Cincinnati, OH, U.S.A. Cincinnati          OH     3
23     Cincinnati, OH, U.S.A. Cincinnati          OH     3
24     Cincinnati, OH, U.S.A. Cincinnati          OH     3
25     Cincinnati, OH, U.S.A. Cincinnati          OH     3
26     Cincinnati, OH, U.S.A. Cincinnati          OH     3
27     Miami, FL, U.S.A.      Miami               FL     3
28     Miami, FL, U.S.A.      Miami               FL     3
29     Miami, FL, U.S.A.      Miami               FL     3
30     Miami, FL, U.S.A.      Miami               FL     3
⋮      ⋮                      ⋮                  ⋮       ⋮
436675 Portugal               Portugal           NA      1
436676 Portugal               Portugal           NA      1
436677 Dominican Republic     Dominican Republic NA      1
436678 Dominican Republic     Dominican Republic NA      1
436679 Netherlands            Netherlands        NA      1
436680 Netherlands            Netherlands        NA      1
436681 Netherlands            Netherlands        NA      1
436682 Spain                  Spain              NA      1
436683 Spain                  Spain              NA      1
436684 Spain                  Spain              NA      1
436685 Great Britain          Great Britain      NA      1
436686 Turkey                 Turkey             NA      1
436687 Turkey                 Turkey             NA      1
436688 Portugal               Portugal           NA      1
436689 Portugal               Portugal           NA      1
436690 Portugal               Portugal           NA      1
436691 Portugal               Portugal           NA      1
436692 Italy                  Italy              NA      1
436693 Italy                  Italy              NA      1
436694 Georgia                Georgia            NA      1
436695 Spain                  Spain              NA      1
436696 Spain                  Spain              NA      1
436697 Spain                  Spain              NA      1
436698 Spain                  Spain              NA      1
436699 Portugal               Portugal           NA      1
436700 Portugal               Portugal           NA      1
436701 Portugal               Portugal           NA      1
436702 Portugal               Portugal           NA      1
436703 Portugal               Portugal           NA      1
436704 Morocco                Morocco            NA      1

In [ ]:
atpLocations %>% 
    filter(Location_pieces > 2 & !(Location %>% endsWith("U.S.A."))) %>%
    select(Location, City, Country, Location_pieces)

     Location                            City              Country
1    Kraljevo, Serbia, Serbia            Kraljevo           Serbia
2    Odense Idraetshal, Denmark, Denmark Odense Idraetshal  Denmark
3    Moscow, Russia, Russia              Moscow             Russia
4    Las Vegas, NV, USA                  Las Vegas          NV
5    Las Vegas, NV, USA                  Las Vegas          NV
6    Las Vegas, NV, USA                  Las Vegas          NV
7    Las Vegas, NV, USA                  Las Vegas          NV
8    Fairfield, CA, USA                  Fairfield          CA
9    Fairfield, CA, USA                  Fairfield          CA
10   Fairfield, CA, USA                  Fairfield          CA
11   Fairfield, CA, USA                  Fairfield          CA
12   Fairfield, CA, USA                  Fairfield          CA
13   Fairfield, CA, USA                  Fairfield          CA
14   Niceville, FL, United States        Niceville          FL
15   Niceville, FL, United States        Niceville          FL
16   Columbus, OH, U.S.A                 Columbus           OH
17   Columbus, OH, U.S.A                 Columbus           OH
18   New York, NY, U.S.A                 New York           NY
19   New York, NY, U.S.A                 New York           NY
20   New York, NY, U.S.A                 New York           NY
21   Las Vegas, NV, USA                  Las Vegas          NV
22   Las Vegas, NV, USA                  Las Vegas          NV
23   Cary, NC, U.S.A                     Cary               NC
24   Cary, NC, U.S.A                     Cary               NC
25   Cary, NC, U.S.A                     Cary               NC
26   Cary, NC, U.S.A                     Cary               NC
27   Cary, NC, U.S.A                     Cary               NC
28   Waco,TX, USA, United States         Waco              TX
29   Waco,TX, USA, United States         Waco              TX
30   Waco,TX, USA, United States         Waco              TX
⋮    ⋮                                   ⋮                 ⋮
6094 Vero Beach, FL, United States       Vero Beach         FL
6095 Costa Mesa, CA, United States       Costa Mesa         CA
6096 Costa Mesa, CA, United States       Costa Mesa         CA
6097 Costa Mesa, CA, United States       Costa Mesa         CA
6098 Orange Park, FL, United States      Orange Park        FL
6099 Wichita, KS, United States          Wichita            KS
6100 Wichita, KS, United States          Wichita            KS
6101 Fayetteville, Fayetteville, AR      Fayetteville       Fayetteville
6102 Orange Park, FL, United States      Orange Park        FL
6103 San Francisco, CA, U.S.A            San Francisco      CA
6104 San Francisco, CA, U.S.A            San Francisco      CA
6105 Las Vegas, NV, USA                  Las Vegas          NV
6106 Las Vegas, NV, USA                  Las Vegas          NV
6107 Fayetteville, Fayetteville, AR      Fayetteville       Fayetteville
6108 Weston, Florida, USA                Weston             Florida
6109 Weston, Florida, USA                Weston             Florida
6110 Witchita, KS, United States         Witchita           KS
6111 Columbus, OH, U.S.A                 Columbus           OH
6112 Columbus, OH, U.S.A                 Columbus           OH
6113 Columbus, OH, U.S.A                 Columbus           OH
6114 St. Michael, Barbados, Barbados     St. Michael        Barbados
6115 Winston=Salem, NC, United States    Winston=Salem      NC
6116 Winston=Salem, NC, United States    Winston=Salem      NC
6117 Witchita, KS, United States         Witchita           KS
6118 Witchita, KS, United States         Witchita           KS
6119 Edwardsville, IL, United States     Edwardsville       IL
6120 Edwardsville, IL, United States     Edwardsville       IL
6121 Los Angeles, CA, United States      Los Angeles        CA
6122 Cary, NC, U.S.A                     Cary               NC
6123 Kranj, Slovenia, Slovenia           Kranj              Slovenia
     Location_pieces
1    3
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
10   3
11   3
12   3
13   3
14   3
15   3
16   3
17   3
18   3
19   3
20   3
21   3
22   3
23   3
24   3
25   3
26   3
27   3
28   4
29   4
30   4
⋮    ⋮
6094 3
6095 3
6096 3
6097 3
6098 3
6099 3
6100 3
6101 3
6102 3
6103 3
6104 3
6105 3
6106 3
6107 3
6108 3
6109 3
6110 3
6111 3
6112 3
6113 3
6114 3
6115 3
6116 3
6117 3
6118 3
6119 3
6120 3
6121 3
6122 3
6123 3

In [ ]:
read.csv("https://raw.githubusercontent.com/notPlancha/projeto-adb/main/data/countryAlias.csv") %>% distinct() -> aliases
aliases %>% head()

  alias        country    code
1 Algeria       Algeria    DZ
2 Buenos aires  Argentina  AR
3 Aust.         Austria    AT
4 Sao paulo     Brazil     BR
5 China         China      CN
6 Egypt         Egypt      EG

In [ ]:
atp %>%
    mutate(
        Location = case_when(
            is.na(Location) | str_trim(Location) %in% c("TBA", "TBC", "TBD", "") ~ NA,
            TRUE ~ str_extract(Location, "(?<=,\\s)[^,]+$") %>% str_squish()
        ), Born = case_when(
            is.na(Born) | str_trim(Born) %in% c("TBA", "TBC", "TBD", "") ~ NA,
            TRUE ~ str_extract(Born, "(?<=,\\s)[^,]+$") %>% str_squish()
        )
    ) -> atpAliases
atpAliases %>% select(Location, Born)

        Location Born
1       Spain    Serbia
2       U.A.E.   Serbia
3       Italy    Serbia
4       Italy    Serbia
5       France   Serbia
6       France   Serbia
7       Italy    Serbia
8       Spain    Serbia
9       U.A.E.   Serbia
10      U.A.E.   Serbia
11      Spain    Serbia
12      Italy    Serbia
13      Spain    Serbia
14      U.S.A.   Serbia
15      U.S.A.   Serbia
16      U.S.A.   Serbia
17      U.S.A.   Serbia
18      France   Serbia
19      Japan    Serbia
20      Japan    Serbia
21      France   Serbia
22      France   Serbia
23      U.S.A.   Serbia
24      U.S.A.   Serbia
25      France   Serbia
26      U.S.A.   Serbia
27      Japan    Serbia
28      Japan    Serbia
29      Japan    Serbia
30      Japan    Serbia
⋮       ⋮        ⋮
1308806 NA       Portugal
1308807 NA       Portugal
1308808 NA       Portugal
1308809 NA       Portugal
1308810 NA       Portugal
1308811 NA       Portugal
1308812 NA       Portugal
1308813 Portugal Portugal
1308814 Portugal Portugal
1308815 Portugal Portugal
1308816 NA       Portugal
1308817 NA       Portugal
1308818 NA       Portugal
1308819 NA       Portugal
1308820 NA       Portugal
1308821 NA       Portugal
1308822 NA       Portugal
1308823 NA       Portugal
1308824 Portugal Portugal
1308825 NA       Portugal
1308826 NA       Portugal
1308827 NA       Portugal
1308828 NA       Portugal
1308829 NA       Portugal
1308830 NA       Portugal
1308831 NA       Portugal
1308832 NA       Portugal
1308833 NA       Portugal
1308834 NA       Portugal
1308835 NA       Portugal

In [ ]:
atpAliases %>% head() %>% 
    left_join(aliases, by = join_by(Location == alias)) %>%
    select(Location, country, code)

Warning message in left_join(., aliases, by = join_by(Location == alias)):
"Detected an unexpected many-to-many relationship between `x` and `y`.
ℹ Row 1 of `x` matches multiple rows in `y`.
ℹ Row 407 of `y` matches multiple rows in `x`.
ℹ If a many-to-many relationship is expected, set `relationship = "many-to-many"` to silence this warning."

  Location country              code
1 Spain     Spain                ES
2 Spain    Spain                ES
3 U.A.E.   United Arab Emirates AE
4 Italy    Italy                IT
5 Italy    Italy                IT
6 France   France               FR
7 France   France               FR

In [ ]:
aliases %>% group_by(alias) %>% summarise(country = first(country)) -> aliasesFixed

In [ ]:
atpAliases %>% head() %>% 
    left_join(aliasesFixed, by = join_by(Location == alias)) %>% 
    mutate(tournament.location = country) %>% select(-country, -Location) %>%
    left_join(aliasesFixed, by = join_by(Born == alias)) %>% 
    mutate(principal.born = country) %>% select(-country, -Born) -> atpWCountries
atpWCountries %>% select(tournament.location, principal.born)

  tournament.location  principal.born
1  Spain               Serbia
2 United Arab Emirates Serbia
3 Italy                Serbia
4 Italy                Serbia
5 France               Serbia
6 France               Serbia

In [ ]:
atpWCountries %>% arrow::write_parquet(here("data", "atpCountries.parquet"))